
!.gitignore
!.gvimrc
!.vimrc
!.vimperatorrc

.*
.*/
*~

_viminfo

vimperator/
root/

AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Pictures/
Videos/
Music/

OneDrive/
Saved Games/
Searches/
IntelGraphicsProfiles/

*.DAT
*.init
NTUSER*

